* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* header */

#header {
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
}
.container {
    margin: 0 100px;
}
.logo {
    width: 100px;
    margin-top: 30px;
    cursor: pointer;
}
.header_text {
    margin-top: 100px;
    max-width: 350px;
}
h1 {
    font-size: 30px;
    line-height: 40px;
}
.square {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: rgb(227, 103, 103);
    margin: 15px 0;
    border-radius: 2px;
}
p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(175, 175, 175);
    margin-bottom: 20px;
}
.line {
    line-height: 8px;
}
.square1 {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: rgb(227, 103, 103);
    border-radius: 2px; 
}
.square2 {
    width: 80px;
    height: 2px;
    display: inline-block;
    background-color: rgb(227, 103, 103);
    border-radius: 2px; 
}
.square3 {
    width: 50px;
    height: 2px;
    display: inline-block;
    background-color: rgb(227, 103, 103);
    border-radius: 2px; 
}
.menu_btn {
    width: 50px;
}

/* nav  */

#sidenav {
    top: 0%;
    right: -190px;
    position: fixed;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    height: 100vh;
    transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 70px 30px;
}
nav ul .active {
    margin-top: 100px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover {
    color: rgb(227, 103, 103); ;
}
nav ul li a button {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid rgb(227, 103, 103);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
nav ul li a button:hover {
    padding: 10px 20px;
}
#menubtn {
    font-size: 30px;
    position: fixed;
    top: 35px;
    right: 65px;
    z-index: 2;
    cursor: pointer;
}

/* about */

#about {
    margin: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about_left_column, .about_right_column {
    flex-basis: 50%;
}
.about_left_column img {
    width: 100%;
}
.about_right_column {
    text-align: right;
}
.about_text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
h2 {
    font-style: italic;
    font-size: 23px;
    line-height: 30px;
    margin: 60px 0 10px;
}
h3 {
    font-style: italic;
    font-size: 17px;
    color: rgb(175, 175, 175);
    font-weight: 400;
}

/* features */

#features {
    margin: 100px 0;
}
.features_row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
}
.features_col {
    flex-basis: 30%;
    text-align: center;
}
.features_col img {
    width: 100px;
}
h4 {
    font-size: 16px;
    margin: 5px 0 18px;
}
.startfreetrial_btn {    
/* margin: 20px 0; */
    padding: 15px 30px;
    background: transparent;
    border: 2px solid rgb(227, 103, 103);
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
.startfreetrial_btn:hover {
    padding: 15px 35px;
}
.startfreetrial_btn a {
    text-decoration: none;
    color: black;
}
.features_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 80px auto 0;
}
.features_btn .line {
    text-align: right;
    margin-right: 20px;
}

/* contact  */

.contact_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}
.contact_left_col, .contact_right_col {
    flex-basis: 50%;
}
.contact_right_col img {
    width: 100%;
}
.contact_text {
    max-width: 350px;
    display: inline-block;
}
form {
    margin: 25px 0 -18px;
}
form input {
    width: 100%;
    margin-bottom: 3px;
    padding: 12px 20px;
    border: 2px solid  rgb(227, 103, 103);
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
}
.contact_btn_box{
    margin-bottom: 5px;
}
.contact_btn{
    margin: 20px 0;
    padding: 20px 40px;
    background: transparent;
    border: 2px solid rgb(227, 103, 103);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.contact_btn_box a {
    text-decoration: none;
    color: black;
}

.contact_btn:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

/* footer  */

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}
hr {
    margin: 15px 0;
}
footer p {
    text-align: center;
}
footer p a {
    text-decoration: none;
    color: white;
}
footer p a:hover {
    color: rgb(227, 103, 103);
}

@media screen and (max-width: 770px) {
    
    /* header  */
    h1 {
        font-size: 18px;
        line-height: 20px;
    }
    p {
        font-size: 13px;
        line-height: 15px;
    }
    h2 {
        font-size: 18px;
        line-height: 22px;
        margin-top: 30px;
    }
    h3 {
        font-size: 13px;
    }

    /* header */
    
    #header {
        background-image: none;
    }
    .container {
        margin: 0 50px;
    }
    .logo {
        width: 50px;
        margin-top: 40px;
    }
    .header_text {
        margin-top: 70px;
    }
    h1 {
        font-size: 25px;
        line-height: 30px;
    }

    /* social_icon */

    /* #social_icon img {
        width: 15px;
        margin: 15px auto;
    } */

    /* menubtn */

    #menubtn {
        font-size: 20px;
        right: 45px;
    }
    #sidenav {
        width: 150px;
    }

    /* about */

    #about {
        margin-top: -180px;
    }
    .about_left_column, .about_right_column {
        flex-basis: 100%;
    }
    .about_right_column {
        margin-left: 40px;
        margin-top: 20px;
        text-align: left;
    }
    
    .about_text {
    margin-right: 50px;
    }
    h2 {
    font-size: 18px;
    }
    h3 {
    font-size: 15px;
    }


/* features */

#features {
    margin: -60px 0;
}

.features_col {
    flex-basis: 100%;
}
.features_btn {
    margin: 30px;
}

/* contact  */

.contact_row {
   margin-top: 150px;
}
.contact_left_col {
    flex-basis: 100%;
}
.contact_right_col {
    display: none;
}
.contact_row .line {
    display: none;
}

/* footer  */

footer p {
    font-size: 12px;
}

/* sidenav  */

#sidenav {
    right: -150px;
    width: 150px;
}
nav ul li {
    margin: 50px 20px;
}
nav ul .active {
    margin-top: 80px;
}
nav ul li a {
    font-size: 15px;
}
nav ul li a button {
    padding: 7px 12px;
    font-size: 15px;
}

}
@media screen and (max-width: 815px) {
     
}